:root {
  --bitterBlue: #1F2535;
}
* {
  color: white;
  font-family: sans-serif;
}
body {
  background: #091337;
}

nav {
  display: flex;
  flex-flow: column;
  justify-content: center;
  place-content: start;
  gap: 2rem;
  width: 100%;
  max-width: 80%;
  min-width: 20rem;
  height: 100vh;
  margin: auto;
  padding: 1.5rem;
  padding-top: 3rem;
}

.top-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

h1{
  text-align: left;
  width: 100%;
  margin-left: 0;
}

p {
  width: 40%;
}

.button-box {
  display: flex;
  flex-flow: row;
  align-items: center;
  white-space: nowrap;
  gap: 0.25rem;
  height: fit-content;
  padding: 0;
  margin: 0;
}

button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1rem;
  gap: 0.5rem;
  height: 2rem;
  border: solid 1px;
  background: var(--bitterBlue);
  border-radius: 1rem;
  padding: 0.75rem;
}

button:hover {
  background: #EE5F54;
  color: var(--bitterBlue);
}

.card {
  display: flex;
  flex-flow: row wrap;
  height: 10rem;
  width: 20rem;
  background: var(--bitterBlue);
  border-radius: 1rem;
  border: solid thin white;
  align-content: space-between;
}

.card-top {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  width: 100%;
  height: fit-content
}

.card-bottom {
  width: 100%;
}

.remove {
  margin: 1.5rem;
}

.hidden {
  display: none;
}