:root {
  --bitterBlue: #1F2535;
}

* {
  color: white;
  font-family: sans-serif;
}

body {
  background: linear-gradient(#04091C, #091337);
  height: 100vh;
}

.banner {
  height: 4rem;
  width: 80%;
  position: relative;
  background: var(--bitterBlue);
  border: solid thin #6C7079;
  border-radius: 1rem;
  margin: 2rem auto 0 auto;
}

.banner img {
  z-index: 0;
  position: absolute;
  transform: scale(0.9);
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}

.banner h2 {
  position: relative;
  z-index: 1;
  margin: 0.8rem 0 0 5rem;
  width: fit-content;
  font-size: 2rem;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  place-content: start;
  gap: 2rem;
  width: 100%;
  max-width: 80%;
  min-width: 20rem;
  height: fit-content;
  margin: auto;
  padding: 1.5rem;
  padding-top: 3rem;
}

.top-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

h2{
  margin: 0;
  width: max-content;
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  width: 15rem;
  height: fit-content;
}

.button-box {
  display: flex;
  flex-flow: row;
  align-items: center;
  white-space: nowrap;
  gap: 0.25rem;
  height: fit-content;
  padding: 0;
  margin: 0;
}

button {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  height: 2rem;
  border: solid 1px;
  background: var(--bitterBlue);
   color: #E6E9F0;
  border: solid thin #6C7079;
  border-radius: 1rem;
  padding: 0.75rem;
}

button:hover {
  background: #EE5F54;
  color: var(--bitterBlue);
}

button:active {
  background: white;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.card {
  display: flex;
  flex-flow: row wrap;
  color: #6C7079;
  height: 10rem;
  max-height: 20rem;
  width: 20rem;
  background: var(--bitterBlue);
  border-radius: 1rem;
  border: solid thin;
  justify-items: left;
  align-content: space-between;
  padding: 1rem;
}

.card-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  width: 100%;
  height: fit-content;
}

img {
  height: 3.5rem;
  padding: none;
  margin: none;
  margin-right: 1rem;
}


.card-text {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  width: 10rem;
  align-content: flex-start;
  gap: 0.5rem;
}

.card-text p {
  color: #6C7079;
}

.card-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.toggle-size {
  transform: scale(0.8);
}

.main-box {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 12rem);
  position: relative;
}

.reset-box {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.reset-button {
  font-size: 0.5rem;
  color: grey;
  background: none;
  border: none;
  text-align: bottom;
  height: 1rem;
  padding: 0.25rem;
  margin: 1rem;
}

.dark-light {
  height: 3rem;
  width: 3rem;
}

.hidden {
  display: none;
}

.light-mode .banner,
.light-mode .card,
body .light-mode,
.light-mode button
{
  background: linear-gradient(white, lightcyan);
  color: slateblue;
  border: solid thin cyan;
}

.light-mode button:hover {
background: cyan;
}

.light-mode button:active {
  background: lemonchiffon;
  color: slategray;
}

.light-mode .banner h2 {
  display: none;
}

.lModeButton {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 18%;
  right: 1rem;
  justify-content: center;
  height: 2.5rem;
  width: 3rem;
  z-index: 0;
}

.lModeButton img {
  position: absolute;
  transform: scale(0.5);
  z-index: 1;
  margin: auto;
}